@media (max-width: 600px) {
    .capa img {
        width: 140px;
        padding: 15px;
    }
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50;
  background: #00ff80;
}

.capa {
  margin-bottom: 20px;
}

.capa img {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.descricao {
  text-align: left;
  text-size: 40px;
  margin: 100;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
}
