@media (max-width: 600px) {
    .capa img {
        width: 170px;
        padding: 15px;
    }
  .descricao {
        width: 170px;
        font-size: 18px;
        margin: 20px auto;
    }
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background: #00ff80;
}

.capa {
  margin-bottom: 20px;
}

.capa img {
    width: 450px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    box-sizing: border-box;
}

.descricao {
  text-align: left;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  width: 450px;
  box-sizing: border-box;
}

.livro {
  max-width: 500px;
  margin: 0 auto;
}
